@use '../../styles/mixins.scss' as *;

.hero {
  background-color: var(--black);
  &__wrapper{
    background-image: url("../../assets/img/hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    &:before{
      content: "";
      position: absolute;
      width: 100%;
      height: inherit;
      left: 0;
      top: 0;
      background-color: rgba(black, 0.7);
    }
  }

}