@use "./styles/mixins" as *;
@use "./styles/fonts" as *;
@use "./styles/helper" as *;
// @use "./assets/bootstrap/scss/bootstrap.scss" as *;
@use "sass:color";

:root {
  --spanish-gray: #969696;
  --cultured: #f6f6f6;
  --eerie-black: #1b1b1b;
  --black-olive: #383f3e;
  
  --gradient: linear-gradient(to right, #504297, #B3ABDB);
  --black: #222222;
  --black-text: #555555;
  --color-1: #504297;
  --color-1-light: #B3ABDB;
  --color-2: #6C8429;
  --color-2-dark: #718A2F;
}



*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  outline: none;
  text-decoration: none;
  list-style: none;
}

html{
  scroll-behavior: smooth;
}

body{
  box-sizing: border-box;
  overflow-x: hidden;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  // background-color: var(--eerie-black);
  color: black;
}

img{
  display: block;
}

h1,h2,h3,h4,h5,h6{
  // font-family: "Inter", sans-serif;
  // color: var(--cultured);
}
html{
  a{
    color: inherit;
    text-decoration: none;
  }
  ul{
    padding-left: 0;
    margin-bottom: 0;
  }
}

.btn-def{
  display: inline-block;
  background-color: $color-1;
  color: white;
  padding: 1rem 3rem;
  transition: 0.2s ease;
  max-width: 340px;
  text-align: center;
  &:hover{
    cursor: pointer;
    background-color: color.adjust($color-1, $lightness: -25%);
  }
}


